body {
    font-family: "Gill Sans", sans-serif;
    margin: 0;
    padding: 20px;
    background-color: rgba(249, 95, 143, 1.8)/* Set the background color with opacity  ; */

}

h1 {
    color: #83408D;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    display: block;
    margin-bottom: 10px;
    color: #FF7B1A;
    text-decoration: none;
}

a:hover {
    text-decoration: underline ;
}


